canvas {
    border: solid black;
}

#window {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    position: absolute;
    top: 100%;
    border: none;
    background-color: #00ff00;
    border-radius: 10%;
    padding: 10px 20px;
    margin: 10px;
    transition: all 0.2s;
    user-select: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

button:active {
    color: #00ff00;
    background-color: black;
}

#window > div {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

td, th {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#canvas-control {
    position: relative;
    min-width: fit-content;
}